<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Viddler Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" type="text/css" href="skin/viddler.css">
	<script src="../js/vendor/jquery.js"></script>
  <script src="../js/vendor/jquery.cookie.js"></script>
  <script src="../js/vendor/jquery.jplayer.min.js"></script>

  <script src="../js/lib/jquery.jplayer.inspector.js"></script>
  <script src="../js/lib/underscore.js"></script>
  <script src="../js/lib/backbone.js"></script>
  <script src="../js/lib/davis.js"></script>
  <script src="../js/lib/davis.hashRouting.js"></script>
  <script src="../js/lib/lazyload.js"></script>
  <script src="../js/lib/rain_lib.js"></script>
  <script src="../js/playerOptions.js"></script>
  <script src="../js/viddler-player.js"></script>
  <script src="../js/viddler-models.js"></script>
  <script src="../js/viddler-collections.js"></script>
  <script src="../js/viddler-views.js"></script>

  <!--[if !IE]>-->
      <script src="../js/lib/popcorn-complete.js"></script>
  <!--<![endif]-->

  <!--[if gte IE 9]>
      <script src="../js/lib/popcorn-complete.js"></script>
<![endif]-->    

  <script src="../js/config.js"></script>
  <script src="../js/app.js"></script>

</head>
<body>
<div class="wrap">


<!-- login modal -->
<div class="modalbg">
  <div class="loginmodal">
    <a href="#" class="closetwo"><img src="img/orangex.png" id="orangex" alt="close modal"></a>
  <header>Lorem Ipsum</header>
  <section id="modalbody">
    <h1>Lorem ipsum dolor sit amet</h1>
    <form action="">
      <label for="username">User Name</label>
      <input type="text">
      <div class="passverification">
      <img src="img/leftarrow.png" alt="left arrow" class="leftarrow">
      Please enter correct password.
    </div>
      <label for="password">Password</label>
      <input type="text">
      <input type="submit" class="loginsubmit inactive">
    </form>

  </section>
</div>
</div>
<!--end login modal-->

    <div id="jp_container_1" class="jp-video">
        <div class="jp-type-single">
            <div id="jquery_jplayer_1" class="jp-jplayer">
            </div>
            <img id="play-overlay-button" src="img/play-big-temp.png" />
            <div class="jp-no-solution">
                <span>Update Required</span>
                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
                <div id="footnote-container"></div>
                <div id="iframe-container"></div>
    </div>         
            <!-- backbone containers -->
            <div id="map-container"></div>
            <div class="jp-gui"></div>
            <div id="inspector"></div>
            <div id="account-container">
                <a href="#" class="user-login">Login</a>
                <a href="#" class="user-signup">Sign up</a>
                <a href="#" class="no">No!</a>
            </div>
            <div id="errors"></div>
            <div id="modal-outer" style="display:none">Add Comment<img src="img/modalclose.png" alt="" class="modal-close cursor">
                <div id="modal-container" class="clearfix">1000 Characters Limit</div>
                <img src="img/commenttriangle.png" alt="comment triangle" id="modaltriangle">
            </div>
            <!-- end backbone containers -->
        </div>

            <div id="comment-popup-container"></div>
            <div id="error-message-container"></div>
            <div id="comments-container"></div>
    </div>
</div>

<!-- Underscore Templates -->
<script type="text/template" id="tmp-comments">
  <div class="comments clearfix" id="comments-container">
        <div class="row clearfix">
            <a href="#" class="also">Also Viewed</a>
            <div class="comments2">Comments <span class="number">(<%= items.length %>)</span></div>
            <img src="img/viddler.jpg" class="logo" alt="Viddler">
        </div>
        <div class="row clearfix">
        <% _.each(items, function (item) { %>
            <div class="row clearfix">
                <div class="avatar"><img src="<%- item.thumbnail %>" width=50px height=50px /></div>
                <div class="commentinfo">
                <div class="user"><%= item.userName %></div>
                <div class="comment">
                      <div class="words"><%= item.commentText %></div>
                      <div class="datetime"><%= item.created %>
                          <div class="date"><%= item.daysAgo %></div> <img src="img/orangearrow.png" alt="orange arrow"><div class="time3"><%= item.time %></div>
                          </div>
                      </div>
                </div>
            </div>
        <% }); %>
  </div>
</script>

<script type="text/template" id="tmp-jplayer-gui">
        <div class="jp-video-play">
          <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
        </div>
        <div class="jp-interface clearfix">
          <div class="jp-controls-holder">
            <ul class="jp-controls">
              <li><a href="javascript:;" class="jp-play" id="viddler-play" tabindex="1">play</a></li>
              <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
            </ul>
            <div class="bar clearfix">
                <div id="markers-container"></div>
            <div class="jp-progress" style="position: relative; z-index: 888;">
            <div class="jp-seek-bar" style="position: relative; z-index: 1;">
              <div class="jp-play-bar"><img src="img/time.png" id="time" /></div>
            </div>
          </div>
          <a href="javascript:;"><img src="img/mobile/search.png" alt="Search" class="searchimg"></a>
          <div class="time">
              <div class="jp-current-time"></div>
              <span class="slash">/</span>
              <div class="jp-duration"></div>
          </div>
        </div>
            <ul class="jp-toggles">
              <li><a href="javascript:;" title="comments" class="jp-comment" tabindex="1">Comments</a></li> 
              <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
              <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
               <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
              <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                <li><a href="javascript:;" class="jp-doohickey" tabindex="1" title="doohickey">Doohickey</a></li>
              <li><a href="javascript:;" title="hd" class="jp-hd" tabindex="1" title="hd">HD</a></li>
            <li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a></li>
            <div class="time2">
          <div class="jp-current-time"></div>
          <span class="slash">/</span>
          <div class="jp-duration"></div>
            <a href="javascript:;"><img src="img/mobile/video.png" class="videoimg" alt="Video"></a>
          </div>
            </ul>
          </div>
        </div>
</script>

<script type="text/template" id="tmp-playlist">
    <h2><%= update %></h2>
</script>

<script type="text/template" id="tmp-comment-popup">
    <div class="comment-popup">
        <form class="comment-form">
            <ul class="modal-form">
                <li><input name="commentText" type="text"/></li>
                <li><label for="time">Time</label><input name="time" id="comment-play-head-pos"type="text" value="<%= time %>"/></li>
        </form>
                <a href="#" id="comment-form-submit"><img src="img/okbutton.png" id="okbutton" alt="OK"></a>            
            </ul>
    </div>
</script>

<script type="text/template" id="tmp-comment-markers">
    <% _.each(markers, function (marker) { %>
        <img src="img/orangearrow.png" style="left: <%= marker.left %>%; position : absolute"/>
    <% }); %>
</script>

<script type="text/template" id="tmp-error-msg">
    <div class="vid-error-msg <%= type %>">
        <span><%= msg %></span>
    </div>
</script>

<script type="text/template" id="tmp-user-signup-form">
    <span class="closetwo modal-close cursor"><img src="img/orangex.png" id="orangex" alt="close modal"></span>
    <header><%= modalHeader %></header>
    <section id="modalbody">
        <form id="user-signup-form">
            <ul class="modal-form">
                <li><label for="username">Username</label><input type="text" id="username_input"/></li>
                <li><label for="email">Email</label><input type="text" id="email_input"/></li>
                <li><label for="password">Password</label><input type="password" id="password_input"/></li>
                <li><label for="password-confirm">Confirm Password</label><input type="password" id="password_confirm_input"/></li>
                <a href="#" id="user-signup-submit"><img src="img/okbutton.png" id="okbutton" alt="OK"></a>                
            </ul>
        </form>
    </section>
</script>

<script type="text/template" id="tmp-user-login-form">
    <span class="closetwo modal-close cursor"><img src="img/orangex.png" id="orangex" alt="close modal"></span>
    <header><%= modalHeader %></header>
    <section id="modalbody">
        <form id="user-login-form">
            <ul class="modal-form">
                <li><label for="username">Username</label><input type="text" id="username_input"/></li>
                <li><label for="password"> Password</label><input type="password" id="password_input"/></li>
                <a href="#" id="user-login-submit"><img src="img/okbutton.png" id="okbutton" alt="OK"></a>                
            </ul>
        </form>
    </section>
</script>

<script type="text/template" id="tmp-no-auth-form">
    <span class="closetwo modal-close cursor"><img src="img/orangex.png" id="orangex" alt="close modal"></span>
    <header><%= modalHeader %></header>
    <section id="modalbody">
        <form id="user-login-form">
            <ul class="modal-form">
                <li><label for="username">Username</label><input type="text" id="username_input"/></li>
                <li><label for="password"> Password</label><input type="password" id="password_input"/></li>
                <a href="#" id="user-login-submit"><img src="img/okbutton.png" id="okbutton" alt="OK"></a>                
            </ul>
        </form>
    </section>
    <a href="#" class="user-signup">Sign up</a>
    </div>
</script>

<script type="text/template" id="tmp-subscribe">
    <div class="modalbg">
        <span>Please subscribe to view this content</span>
    </div>
</script>

<script type="text/template" id="tmp-mega-gui">
    <div class="mega-timeline clearfix">
        <div class="jp-interface clearfix">
            <div class="jp-controls-holder">
                <ul class="jp-controls">
                    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                    <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                </ul>
                <div id="jp-mega-playbar-container"></div>
            </div>
            <a href="javascript:;"><img src="img/mobile/search.png" alt="Search" class="searchimg"></a>
            <ul class="jp-toggles">
                <li><a href="javascript:;" title="comments" class="jp-comment" tabindex="1">Comments</a></li> 
                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                </div>
                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                <li><a href="javascript:;" class="jp-doohickey" tabindex="1" title="doohickey">Doohickey</a></li>
                <li><a href="javascript:;" title="hd" class="jp-hd" tabindex="1" title="hd">HD</a></li>
                <li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a></li>
                <div class="time2">
                    <div class="viddler-current-time"></div>
                    <span class="slash">/</span>
                    <div class="viddler-duration"></div>
                    <a href="javascript:;"><img src="img/mobile/video.png" class="videoimg" alt="Video"></a>
                </div>
            </ul>
            <div class="time">
                <div class="viddler-current-time"></div>
                <span class="slash">/</span>
                <div class="viddler-duration"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tmp-mega-timeline">
    <div class="bar">
        <div id="mega-markers-container"></div>
        <div class="jp-progress" style="position: relative; z-index: 888;">
            <div class="jp-mega-seek-bar clearfix" style="position: relative; z-index: 1;">
                <div class="jp-mega-play-bar"><img src="img/time.png" id="time" /></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="mega-track-info" class="">
    </div>
        <% _.each(elems, function (elem) { %>
            <span class="timeline-tag" style="width : <%= elem.width %>%"><%= elem.timeLineTag %></span>
        <% }); %>
    </div>
</script>

<script src="../js/router.js"></script>
<script type="text/javascript">
  App.init();
</script>

</body>
</html>
