/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   hi
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* Note: It's better to use display:inline-block; if width is set on the element you want to clear */
.clearfix:before, .clearfix:after {
	content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

video#jp_video_0, img#jp_poster_0, #jquery_jplayer_1{
	width:100% !important;
	height:auto !important;
	position: relative !important;

}

/* Paul's provisional style */

/* timeline */
.mega-timeline .jp-progress .jp-seek-bar {width:100%;}
#mega-track-info {margin-top:12px; width:100%}
.timeline-tag {display:block; float:left; font-size:.6em}

/* account */
/* #account-container {margin:2em; position: absolute; z-index: 99999999; top: 0px; left: -250px;} */

#load-wait {position:absolute; top:44%; left:50%; z-index:10000}

/* Sprites */
.sprite {font-weight:bold; background-color:#E2F5AB; padding:.4em; border-radius:2em; opacity:0.4;
filter:alpha(opacity=40);}

/* pager */
#comment-pager {margin:10px}
.pager-el {display:block; width:10px; text-align:center; float:left; margin:5px}
.pager-current-page {color:yellow};
/* Modals */

#modal-outer {
	background-color:rgba(238, 238, 238, .9); 
	width:300px;
	padding: .5em; 
	position:absolute; 
	top: 41%;
	left: 49px;
	border:none; 
	z-index:10000000;	
	border-radius: 10px;
	font-family: helvetica; 
	font-weight:bold;
	color: #585f68; 
	font-size: 16px;
 	display:none; /* display:block; to display comment bubbles */

}
#modal-outer img#modaltriangle{
	color:rgba(238, 238, 238, .9); 
	position: absolute;
	bottom: -12px;
	width: 20px;
	margin-left: -20px;
	left: 50%;
}
#modal-outer img#okbutton{
	float:right;
	margin-top: 5px;
	width: 50px;
}
#modal-outer ul {width :100%}

#modal-container{
	background: #FFFFFF;
	opacity: 1;
	font-size: 12px;
	padding: 10px 0px 5px 10px;
	margin-top: 10px;
	height: 100px;
}
.modal-close {
	width:30px;
	height: 30px;
	position: absolute;
	top: -10px;
	right: -10px;
	float:right;
}


.cursor { cursor: pointer; }
#play-overlay-button {position:absolute; cursor:pointer; top:40%;  margin-left: -25px; left: 50%;height:70px; z-index:10000; display:none;}

@media only screen and (max-width: 480px){
	/* Modals */

#modal-outer {
	background-color:rgba(255,255,255,.9); 
	width:280px;
	padding: .5em; 
	position:absolute; 
	top: 40px;
	left: 10px;
	border:none; 
	z-index:10000000;	
	border-radius: 10px;
	font-family: helvetica; 
	font-weight:bold;
	color: #585f68; 
	font-size: 16px;
}
#modal-outer img#modaltriangle{
	position: absolute;
	bottom: -12px;
	width: 20px;
	margin-left: -20px;
	left: 50%;
}
#modal-outer img#okbutton{
	float:right;
	margin-top: 5px;
	width: 50px;
}
#modal-outer ul {width :100%}

#modal-container{
	background: #FFFFFF;
	opacity: 1;
	font-size: 12px;
	padding: 10px 0px 5px 10px;
	margin-top: 10px;
	height: 50px;
}
.modal-close {
	width:30px;
	height: 30px;
	position: absolute;
	top: -10px;
	right: -10px;
	float:right;
}